.page {	
	height: 100%;
}

.Head {
	top: 0;
	text-align: center;
	background-color: #FFB733;
}

.tail {
	bottom: 0;
	text-align: center;
	background-color: #FFB733;
}

button {
        		display: block;
        		position: relative;
        		margin: 10px;
        		padding: 0 10px;
        		text-align: center;
        		text-decoration: none;
        		width: 130px;
        		height: 40px;
        		font: bold 18px/25px Arial, sans-serif;    				
        		color: black;
        				
        	        text-shadow: 1px 1px 1px rgba(255,255,255, .22);
        		-webkit-border-radius: 30px;
   			-moz-border-radius: 30px;
    			border-radius: 30px;
 
    			-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    			-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    			box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    			-webkit-transition: all 0.15s ease;
    			-moz-transition: all 0.15s ease;
    			-o-transition: all 0.15s ease;
    			-ms-transition: all 0.15s ease;
    			transition: all 0.15s ease;
        		}
        		
input[type="range"] {
        		display: block;
        		width: 160px;
        		height: 45px;
        		}
        		
#gpio17.LOW {
        		background-color: Gray;
        		color: Black;
        		}
#gpio4.LOW {
			background-color: Gray;
			color: Black;
			}
#gpio23.LOW {
			background-color: Gray;
			color: Black;
			}
#gpio25.LOW {
			background-color: Gray;
			color: Black;
			}
        		
#gpio17.HIGH {
        		background-color: Yellow;
        		color: LightGray;
        		}

#gpio4.HIGH {
			background-color: Red;
			color: lightGray;
			}

#gpio23.HIGH {
			background-color: Blue;
			color: lightGray;
			}

#gpio25.HIGH {
			background-color: Green;
			color: lightGray;
			}
