.page {
	height: 100%;
}

.header {
	top: 0;
	text-align: center;
	background-color: #FFB733;
}

.footer {
	bottom: 0;
	text-align: center;
	background-color: #FFB733;
}

button {
	display: block;
	position: relative;
	margin: 10px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	width: 130px;
	height: 40px;
	font: bold 18px Arial, sans-serif;
	color: black;

	text-shadow: 1px 1px 1px rgba(255,255,255, .22);
	border-radius: 30px;
}


#gpio17.LOW {
	background-color: Gray;
	color: Black;
}
#gpio4.LOW {
	background-color: Gray;
	color: Black;
}
#gpio23.LOW {
	background-color: Gray;
	color: Black;
}
#gpio25.LOW {
	background-color: Gray;
	color: Black;
}

#gpio17.HIGH {
	background-color: Yellow;
	color: LightGray;
}

#gpio4.HIGH {
	background-color: Red;
	color: lightGray;
}

#gpio23.HIGH {
	background-color: Blue;
	color: lightGray;
}

#gpio25.HIGH {
	background-color: Green;
	color: lightGray;
}
